[Unit]
Description=vclogbot
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/vclogbot
ExecStart=/opt/vclogbot/vclogbot.mjs
EnvironmentFile=/opt/vclogbot/.env

[Install]
WantedBy=multi-user.target
